@charset "UTF-8";

/* home header styles */
.quarto-title-banner {
  background-image: url(img/nightsky.jpg);
}

#quarto-header > nav {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0em;
  padding-top: 0em;
}

.title-block-header.quarto-title-block.default .quarto-title .title {
  margin-bottom: 1rem;
}

/* home cards styles */
.quarto-grid-item .listing-categories .listing-category{
    margin-top: 10px;
}

/* sidebar styles */
#quarto-margin-sidebar .quarto-listing-category {
    font-size: 0.8rem;
  }

/*-- scss:rules --*/
.MathJax {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.MathJax_Display {
  overflow: clip visible !important;
}
